{% block _custom_field_form_option_widget %}
<div class="sortable">
    <div class="input-group sortable-no-reorder">
        <span class="input-group-addon preaddon" onclick="Mautic.removeFormListOption(this);" >
    <i class="fa fa-times">&nbsp;</i>
    </span>
        <div>
            <div class="row">
                <div class="col-xs-6 mr-0 pr-0 bdr-r-wdh-0">
                    <input type="text"
                           id="formfield_properties_optionlist_list___name___label" name="formfield[properties][optionlist][list][__name__][label]" class="form-control sortable-label" placeholder="Label" autocomplete="false" />
                </div>
                <div class="col-xs-6 ml-0 pl-0">
                    <input type="text"
                           id="formfield_properties_optionlist_list___name___value" name="formfield[properties][optionlist][list][__name__][value]" class="form-control sortable-value" placeholder="Value" autocomplete="false" />
                </div>
            </div>
        </div>
        <span class="input-group-addon postaddon" >
        <i class="fa fa-ellipsis-v handle">&nbsp;</i>
    </span>
    </div>
</div>
{% enblock %}