
<div class="box-layout">
    <div class="col-md-9 bg-auto height-auto bdr-r">
        <div class="pa-md">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.label) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.customObject) }}
                </div>
            </div>
        </div>
    </div>
</div>
