<!-- left section -->
<div class="col-md-9 bg-white height-auto">
    <div class="bg-auto">
        <!-- page detail header -->
        <div class="pr-md pl-md pt-lg pb-lg">
            <div class="box-layout">
                <div class="col-xs-10">
                    <div class="text-muted">{{ item.type }}</div>
                </div>
                <div class="col-xs-2 text-right">
                    {{ include('@MauticCore/Helper/publishstatus_badge.html.twig', {
                        entity: item
                    }) }}
                </div>
            </div>
        </div>
        <!--/ page detail header -->
    </div>
    <div class="pa-md">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>