<!-- right section -->
<div class="col-md-3 bg-white bdr-l height-auto">
    <!-- recent activity -->
    {{ include('MauticCoreBundle:Helper:recentactivity.html.twig', {'logs': logs}) }}
</div>
<!--/ right section -->