.fa.form-control-feedback {
    line-height: 32px;
    right: 15px;
}

.custom-object-search .fa.form-control-feedback {
    top: 3px;
    right: 0px;
}

.panel .btn-group {
    z-index: 1000;
}

input[type=checkbox].form-control {
    height: auto;
}
