<?php declare(strict_types=1);

?>
<div class="row">
    <div class="col-xs-4">
        {{ form_row(field) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(operator) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(value) }}
    </div>
</div>
<script>CustomObjects.initCustomFieldConditions()</script>
